.data-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.data-list header {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    flex-wrap: nowrap;
    flex-grow: 1;
    width: 100%;
}

.data-list header > div {
    flex: 1;
}